%div.user_info
  = image_tag "http://dummyimage.com/#{profile_size}/888/fff.png&text=user+profile", :alt => article.author.name
  %p
    by
    = link_to article.author.name, article.author
    %br
    = l article.created_at.to_date, :format => :long
    %br
    - if signed_in? && article.editable_by?(current_user)
      = link_to 'edit', edit_article_path(article)
      = link_to 'destroy', article, :confirm => 'Are you sure?', :method => :delete
