%h1 Listing articles

%table
  %tr
    %th User
    %th Title
    %th Body
    %th Tags
    %th
    %th
    %th

  - @articles.each do |article|
    %tr
      %td= article.user
      %td= link_to article.title, article.url
      %td= article.body
      %td= article.tags
      %td= link_to 'Show', article
      %td= link_to 'Edit', edit_article_path(article)
      %td= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Article', new_article_path
