%h1 Listing articles

%table
  %tr
    %th User
    %th Title
    %th Body
    %th Tags
    - if signed_in?
      %th
      %th

  - @articles.each do |article|
    = content_tag_for :tr, article do
      %td= article.user.try(:name)
      %td= link_to article.title, article.url
      %td= article.body
      %td= article.tags
      - if signed_in? && article_editable_by?(article, current_user)
        %td= link_to 'edit', edit_article_path(article)
        %td= link_to 'destroy', article, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Article', new_article_path
