= form_for @user do |f|
  = render_error_messages(@user)

  .field
    = f.label :name
    = f.text_field :name
  - if current_user.admin?
    .field
      = f.label :github
      = f.text_field :github
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :twitter
    = f.text_field :twitter
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :about
    = f.text_area :about
  -if current_user.admin?
    .field
      = f.label :admin
      = f.check_box :admin
  .actions
    = f.submit 'Save'
