= form_for @user do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :github
    = f.text_field :github
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :twitter
    = f.text_field :twitter
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :about
    = f.text_area :about
  -if current_user.admin?
    .field
      = f.label :admin
      = f.check_box :admin
  .actions
    = f.submit 'Save'
